body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height:37.5rem;
    position: relative;
}

.content{
    position: absolute;
    text-align: center;
    background-color: black;
    width: 30rem;
    height: 150px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    
}
.btn{
    border: solid 2px white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
}

.color{
    color: #2772db;
}